html{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.main-title{
    font-style: italic;
    font-weight: 900;
    font-size: 2.25rem;  
    line-height: 1.5;  
    color: #FFFFFF;   
}

.paragraph{
    line-height: 1.5;
    color: black;
}

.shadow{
    text-shadow: 
    1px 1px 0px rgba(0, 0, 0, 0.5), 
    -6px -6px 0px rgba(255, 0, 255, 0.5), 
    6px 6px 0px #00FFFF;
}

.subtitle{
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
}

.text-center{
    text-align: center;
}